body {
    background-image: url(../img/Wallpaper.png);
    }

.logo {
    font-family: 'Peralta', cursive;
    }

.logo a {
    color: rgba(253, 253, 253, 0.9);
    }

.logo a:hover,
.logo a:active {
    text-decoration: none;
    }